<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ipte.TS1.Comm.Beckhoff.Ads" version="3.1.0" targetFramework="net45" />
  <package id="Ipte.TS1.IO" version="2.0.0-alpha1" targetFramework="net45" />
  <package id="Ipte.TS1.IO.Beckhoff.Tc2" version="2.0.0-alpha1" targetFramework="net45" />
  <package id="Ipte.TS1.NC.Beckhoff.Tc3" version="2.0.0-alpha1" targetFramework="net45" />
  <package id="Ipte.TS1.StateMachine.CAMX" version="2.0.0-alpha2" targetFramework="net45" />
  <package id="Ipte.TS1.UI.Analytics" version="2.0.0-alpha1" targetFramework="net45" />
  <package id="Ipte.TS1.UI.Controls" version="2.0.0-alpha3" targetFramework="net45" />
  <package id="Ipte.TS1.UI.i18n" version="2.0.0-alpha1" targetFramework="net45" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net45" />
  <package id="XAMLMarkupExtensions" version="1.5.1" targetFramework="net45" />
</packages>